.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #0094ff;
  font-family: Karla, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
}

h1 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav {
  position: relative;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-right: 12px;
  padding-left: 26px;
  grid-auto-columns: 1fr;
  grid-column-gap: 26px;
  grid-row-gap: 10px;
  grid-template-areas: "nav-title nav-menu";
  -ms-grid-columns: 1fr 26px minmax(56px, 56px);
  grid-template-columns: 1fr minmax(56px, 56px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  color: #fff;
}

.nav-menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
}

.nav-menu:hover {
  background-color: hsla(0, 0%, 100%, 0.18);
}

.nav-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
}

.tab-links__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.tab-link__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.tab-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 56px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.tab-link.active {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

.tab-link__label {
  position: relative;
  margin-top: 8px;
  margin-bottom: 16px;
  padding-right: 6px;
  padding-left: 6px;
  text-align: center;
}

.label {
  font-size: 11.5px;
  line-height: 13.4px;
  letter-spacing: 0.2px;
}

.tab-link__bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 56px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.18);
}

.tab-link__bg.active {
  height: auto;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #fff;
}

.tab-link__base {
  display: none;
  margin-right: -6px;
  margin-left: -6px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.tab-link__base.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.image.link-block__image-wrap {
  overflow: hidden;
  width: 56px;
  height: 56px;
  margin-right: 12px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 10px;
}

.tab-content {
  position: relative;
  z-index: 80;
  width: 100%;
  height: 100%;
  padding: 26px 8px 26px 26px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.search {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.card {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.04);
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.card.action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 106px;
  padding: 4px 8px 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.card.action:hover {
  color: #000;
}

.card.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 44px;
  padding-left: 12px;
  color: #333;
  text-decoration: none;
}

.card.link-block.link-block--expand-toggle {
  min-height: 33px;
  cursor: pointer;
}

.card.link-block.link-block--image-left {
  padding-left: 0px;
}

.card.link-block.link-block--icon-left {
  padding-left: 0px;
}

.search__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fas {
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu__icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  min-height: 56px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border-radius: 10px;
  font-size: 24px;
}

.icon.search__icon {
  position: absolute;
}

.icon.tab-link__icon {
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.icon.action__icon {
  margin-right: auto;
  margin-left: auto;
  color: #000;
}

.icon.page-close__icon {
  width: 44px;
  height: 44px;
  min-height: 44px;
  color: #0094ff;
  text-decoration: none;
}

.icon.page-close__icon:hover {
  background-color: rgba(0, 148, 255, 0.08);
}

.icon.link-block__icon {
  color: rgba(0, 0, 0, 0.4);
}

.icon.link-block__icon {
  height: 100%;
  margin-left: -16px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #000;
}

.icon.link-block__arrow-icon {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.icon.page__icon {
  width: 44px;
  height: 44px;
  min-height: 44px;
  color: #0094ff;
}

.icon.link-block__action-icon {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.icon.narrow-action-block__icon {
  width: 40px;
  min-height: 32px;
  margin-top: auto;
  margin-bottom: auto;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.icon.link-block__card-icon {
  min-height: auto;
  margin-right: 12px;
  background-color: rgba(0, 0, 0, 0.04);
}

.icon.dropdown-toggle__icon {
  width: 40px;
  min-height: 32px;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  font-size: 16px;
}

.icon.icon--grid {
  height: 56px;
}

.search__input {
  position: relative;
  z-index: 1;
  height: 56px;
  padding-left: 56px;
  border: 1px solid transparent;
}

.search__input:hover {
  border-color: #0094ff;
}

.search__wrapper {
  height: 56px;
  margin-bottom: 0px;
}

.search__inner {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 56px;
}

.section-heading--label {
  display: -ms-grid;
  display: grid;
  margin-top: 24px;
  margin-bottom: 16px;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "section-heading heading-label";
  -ms-grid-columns: auto 16px -webkit-max-content;
  -ms-grid-columns: auto 16px max-content;
  grid-template-columns: auto -webkit-max-content;
  grid-template-columns: auto max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 100%;
}

.section__label {
  max-width: 250px;
  white-space: nowrap;
}

.grid--thirds {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.action__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hidden {
  display: none;
}

.page {
  position: relative;
  z-index: 90;
  width: 100%;
  height: 100%;
  padding: 18px 8px 26px 26px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  background-color: #fff;
}

.tabs__wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tab-contents__wrap {
  position: absolute;
  left: 0%;
  top: 99px;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  background-color: #fff;
}

.page__wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page__wrap.hidden {
  display: none;
}

.page-size {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 768px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-heading {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  margin-right: -8px;
  margin-bottom: 4px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "page-title page-close";
  -ms-grid-columns: auto 10px minmax(44px, 44px);
  grid-template-columns: auto minmax(44px, 44px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -8px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumb {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 10px 12px;
  border-radius: 10px;
  background-color: #0094ff;
  color: #fff;
  font-size: 11.5px;
  line-height: 13.4px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.breadcrumb:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0.08)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08));
}

.breadcrumbs__wrap {
  display: -ms-grid;
  display: grid;
  margin-bottom: 16px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 6px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.basic-label {
  color: rgba(0, 0, 0, 0.4);
}

.section-heading {
  display: -ms-grid;
  display: grid;
  margin-top: 24px;
  margin-bottom: 16px;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "section-heading";
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid--fullwidth {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.link-block__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.h3-block-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.subtitle {
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.2;
}

.page-heading--icon-left {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  margin-right: -8px;
  margin-bottom: 4px;
  margin-left: -10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  grid-template-areas: "page-icon page-title page-close";
  -ms-grid-columns: minmax(44px, 44px) 0px auto 0px minmax(44px, 44px);
  grid-template-columns: minmax(44px, 44px) auto minmax(44px, 44px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.scroll {
  overflow: scroll;
}

.rich-text {
  margin-bottom: -10px;
}

.rich-text.expanded {
  max-height: none;
}

.rich-text.rich-text--expandable {
  overflow: hidden;
  max-height: 58.8px;
}

.rich-text.rich-text--expandable.expanded {
  max-height: none;
}

.rich-text__gradient {
  position: relative;
  height: 32px;
  margin-top: -32px;
  margin-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(#fff));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
}

.rich-text__gradient.expanded {
  z-index: -1;
}

.expand-toggle__inner {
  overflow: hidden;
  max-height: 33px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.expand-toggle__inner.expanded {
  display: none;
}

.expand-toggle__content-last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 33px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.expand-toggle__content-last.expanded {
  display: none;
}

.action-block__content--expanded {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 33px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.expand-toggle__content-first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 33px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.expand-toggle__content-first.expanded {
  display: none;
}

.link-block__image {
  width: 56px;
  max-width: none;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.view-options {
  display: -ms-grid;
  display: grid;
  height: 44px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.04);
}

.view-options.view-options--3-col {
  position: relative;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.view-options__button {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 11px;
  padding-left: 11px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  -webkit-transition: background-color 400ms cubic-bezier(.23, 1, .32, 1), color 400ms cubic-bezier(.23, 1, .32, 1);
  transition: background-color 400ms cubic-bezier(.23, 1, .32, 1), color 400ms cubic-bezier(.23, 1, .32, 1);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  cursor: pointer;
}

.view-options__button:hover {
  background-color: rgba(0, 0, 0, 0.04);
  color: #000;
}

.view-options__button.view-options__button--active {
  background-color: #0094ff;
  color: #fff;
}

.view-options__button.active {
  color: #fff;
}

.view-options__wrap {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-row-gap: 6px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.view-options__marker {
  position: absolute;
  width: 100%;
  height: 44px;
  border-radius: 10px;
  background-color: #0094ff;
  -webkit-transition: margin 400ms cubic-bezier(.23, 1, .32, 1);
  transition: margin 400ms cubic-bezier(.23, 1, .32, 1);
}

.view-options__marker.view-options__marker--3-col {
  width: 33.333333333%;
}

.view-options__marker.view-options__marker--3-col.position--col-1 {
  margin-left: 0%;
}

.view-options__marker.view-options__marker--3-col.position--col-2 {
  margin-left: 33.333333333%;
}

.view-options__marker.view-options__marker--3-col.position--col-3 {
  margin-left: 66.666666666%;
}

.sort-options {
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding-left: 11px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  -ms-grid-columns: minmax(70px, 33.333333333%) 1fr;
  grid-template-columns: minmax(70px, 33.333333333%) 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.04);
}

.dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  padding: 0px 0px 0px 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 10px;
  background-color: #0094ff;
  color: #fff;
}

.dropdown-toggle.dropdown-toggle--small {
  height: 33px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dropdown-list.w--open {
  margin-top: -1px;
  margin-right: -1px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.39);
}

.dropdown-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  padding: 0px 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
}

.dropdown-link.dropdown-link--small {
  height: 33px;
}

.dropdown-link.dropdown-link--small:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.dropdown-link.dropdown-link--small.dropdown-link--active {
  color: #0094ff;
}

.grid-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
}

.icon-grid__wrap {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 8px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .page-size {
    width: auto;
  }
  .sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: -18px;
    margin-top: -18px;
    margin-right: -8px;
    margin-left: -26px;
    padding-top: 18px;
    padding-right: 8px;
    padding-left: 26px;
    background-color: #fff;
  }
}

@media screen and (max-width: 479px) {
  .nav {
    padding-left: 16px;
  }
  .nav-title {
    font-size: 24px;
  }
  .icon.action__icon {
    color: #000;
  }
  .icon.link-block__icon {
    color: #000;
  }
  .icon.link-block__action-icon {
    height: auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  .section__label {
    max-width: 100px;
  }
  .section__label.truncate {
    color: rgba(0, 0, 0, 0.4);
  }
  .page {
    padding: 12px 0px 16px 16px;
  }
  .link-block__inner {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  .page-heading--icon-left {
    margin-right: 0px;
  }
  .rich-text.rich-text--expandable {
    max-height: 79.2px;
  }
  .dropdown-link {
    color: rgba(0, 0, 0, 0.6);
  }
  .dropdown-link:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
  .dropdown-link.dropdown-link--active {
    color: #0094ff;
  }
}

#w-node-b6b936b33da7-3c067594 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav-title;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d4335208b11d-3c067594 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav-menu;
}

#w-node-11299cd1eeb0-9cd1eeaf {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: section-heading;
}

.section-heading>#w-node-11299cd1eeb0-9cd1eeaf {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-ca97efb687f5-efb687f4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: section-heading;
}

.section-heading>#w-node-ca97efb687f5-efb687f4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-ca97efb687f8-efb687f4 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: heading-label;
}

#w-node-8da39c8506f3-9c8506f2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: page-icon;
}

#w-node-8da39c8506f5-9c8506f2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: page-title;
}

.page-heading--icon-left>#w-node-8da39c8506f5-9c8506f2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

#w-node-8da39c8506f7-9c8506f2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: page-close;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.page-heading--icon-left>#w-node-8da39c8506f7-9c8506f2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

#w-node-ef0808d5a8bc-08d5a8bb {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: page-title;
}

.page-heading--icon-left>#w-node-ef0808d5a8bc-08d5a8bb {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

#w-node-ef0808d5a8be-08d5a8bb {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: page-close;
}

.page-heading--icon-left>#w-node-ef0808d5a8be-08d5a8bb {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

#w-node-b6b936b33da7-20f7102d {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav-title;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d4335208b11d-20f7102d {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav-menu;
}

@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.woff') format('woff'), url('../fonts/fa-regular-400.ttf') format('truetype'), url('../fonts/fa-regular-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype'), url('../fonts/fa-brands-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}